/* HERO */
.product-hero {
  height: 65vh;
  background:url(../images/bus_main.webp) center/cover no-repeat;
  padding-top: 120px;
}

.product-hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

/* Section Title */
.section-title {
  font-weight: 700;
  font-size: 2rem;
  color: #005f8d;
}

/* Feature List */
.feature-list {
  list-style: none;
  padding-left: 0;
}

.feature-list li {
  padding: 6px 0;
  font-size: 1.1rem;
  position: relative;
}

.feature-list li::before {
  content: "✔";
  color: #0077b5;
  margin-right: 10px;
  font-weight: bold;
}

/* Specifications Table */
.spec-table th {
  width: 30%;
  background: #e9f3ff;
  color: #005f8d;
}

/* CTA Section */
.cta-section {
  background: #f8fbff;
}

.btn-main {
  background: linear-gradient(135deg, #0077b5, #005f8d);
  padding: 10px 30px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.btn-main:hover {
  opacity: 0.9;
}
